/SAIS/datasets
/SAIS/datasets/jigsaws
/SAIS/datasets/jigsaws
/SAIS/original-videos
/SAIS/videos
SAIS/datasets/jigsaws/Knot_Tying.zip
SAIS/datasets/jigsaws/Experimental_setup.zip
/SAIS/images
/SAIS/flows
/SAIS/scripts/dino-main/__pycache__
SAIS/datasets/jigsaws/Knot_Tying.zip
SAIS/datasets/jigsaws/Experimental_setup.zip
/SAIS/datasets
/SAIS/params
/SAIS/paths-old
/SAIS/results
/SAIS/scripts/__pycache__
/SAIS/scripts/dino-main/__pycache__
/SAIS/videos-used-for-training-apr-29-2026
/SAIS/videos-used-for-inference-apr-29-2026
/SAIS/datasets/jigsaws
SAIS/datasets/jigsaws/Experimental_setup.zip
/SAIS/flows-used-for-training-apr29-2026
/SAIS/images-used-for-training-apr29-2026
/SAIS/paths-used-for-training-apr29-2026
/SAIS/results-used-for-training-apr29-2026
/SAIS/paths
/SAIS/scripts/dino-main
/SAIS/videos-for-later-inference
SAIS/annotations-used-for-training-apr30-2026/Custom_Gestures_Annotations.csv
/SAIS/annotations
/SAIS/images-used-for-training-apr30-2026
/SAIS/paths-used-for-training-apr30-2026
/SAIS/results-used-for-training-apr30-2026
/SAIS/flows-used-for-training-apr30-2026/Knot_Tying_B003_capture1
/SAIS/flows-used-for-training-apr30-2026
/SAIS/flows-inference
Successful-list-of-commands-inference.txt.bak
*.bak
*.bak
/SAIS/scripts/__pycache__
/SAIS/images-inference
/SAIS/videos-inference
/SAIS/paths-inference
*.bak
/SAIS/params-used-for-training-may4
/SAIS/videos-that can be used for inference
