ptlflow==0.2.5
opencv-python
numpy<2.0
pandas 
tqdm
scikit-learn
scipy
seaborn
h5py
Pillow==10.0.0
timm==0.6.5
imageio[ffmpeg]
moviepy==1.0.3
--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio
lightning